:host {
}

.shop-sidebar {
  padding: 16px;

  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
nz-divider {
  margin: 0;
}
