<h2>ورود</h2>

<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="emailErrorTpl">
      <nz-input-wrapper>
        <nz-icon nzInputSuffix nzType="mail" style="color: #c8c7c7" />
        <input
          type="text"
          nzSize="large"
          nz-input
          formControlName="email"
          placeholder="ایمیل کاربری"
        />
      </nz-input-wrapper>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="passwordErrorTpl">
      <nz-input-password>
        <input
          nzSize="large"
          nz-input
          formControlName="password"
          placeholder="رمز عبور"
        />
      </nz-input-password>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>منو یادت نره :)</span>
      </label>
    </div>
  </div>
  <button
    nz-button
    [nzLoading]="authStore.loading()"
    nzSize="large"
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    ورود
  </button>
</form>

<ng-template #emailErrorTpl let-control>
  @if (control.errors?.["required"]) {
    لطفا ایمیل وارد کن
  }
  @if (control.errors?.["email"]) {
    ایمیل معتبر وارد کن
  }
</ng-template>
<ng-template #passwordErrorTpl let-control>
  @if (control.errors?.["required"]) {
    لطفا رمز عبور را وارد کنید
  }
  @if (control.errors?.["minlength"]) {
    حداقل 6 کاراکتر
  }
</ng-template>
