@import "../../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";

@primary-color: #4f39f6;

@black: #1d293d;
@white: #f8fafc;

@layout-body-background: @black;
@layout-header-background: @black;
@ayout-sider-background: @black;
@component-background: @black;
// @component-background: #0f172b;

@border-radius-base: 8px;
@font-family: "Roboto", "Vazirmatn";
