.register-form {
  width: 350px;
}

.register-form-margin {
  margin-bottom: 16px;
}

.register-form-forgot {
  float: right;
}

.register-form-button {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
input {
  font-weight: 100 !important;
  font-size: 0.8rem !important;
  letter-spacing: 0.5px !important;
}
