.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;

  &.product-image-wrapper {
    flex: 1;
  }
  &.product-content {
    flex: 1;
  }
}
.product-title {
  font-size: 0.8rem;
  text-align: center;
}

.product-image {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 auto;
}
.trash-icon {
  font-size: 1.2rem;
  color: rgb(237, 79, 79);
}

.empty-state {
  text-align: center;
}
