<header>
  <div class="container">
    <nav>
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="/favicon.ico" alt="logo" />
          <h1>ng24</h1>
        </a>
      </div>
      <div style="display: flex; gap: 10px">
        <nz-badge [nzCount]="cartStore.totalItems()">
          <button
            nz-button
            nzType="default"
            [nzSize]="'small'"
            nzShape="round"
            (click)="open()"
          >
            <nz-icon
              nzType="shopping-cart"
              nzTheme="outline"
              style="font-size: 1rem"
            />
          </button>
        </nz-badge>
        <nz-badge [nzCount]="wishlistStore.count()">
          <button nz-button nzType="default" [nzSize]="'small'" nzShape="round">
            <nz-icon nzType="heart" nzTheme="outline" style="font-size: 1rem" />
          </button>
        </nz-badge>

        <button nz-button nzType="default" [nzSize]="'small'" nzShape="round">
          <nz-icon nzType="lock" nzTheme="outline" />
        </button>

        <button nz-button nzType="default" [nzSize]="'small'" nzShape="round">
          <nz-icon nzType="unlock" nzTheme="outline" />
        </button>

        <button
          nz-button
          nz-tooltip=" خروج از اپ"
          nzType="default"
          [nzSize]="'small'"
          nzShape="round"
          (click)="logout()"
        >
          <nz-icon nzType="logout" nzTheme="outline" />
        </button>
      </div>

      @if (authStore.isAuthenticated()) {
        <div class="avatar" routerLink="profile">
          <div>{{ authStore.user()?.name }}</div>
          <nz-avatar [nzText]="authStore.user()?.name?.[0]"></nz-avatar>
        </div>
      } @else {
        <button
          nz-button
          nz-tooltip="ورود یا ثبت نام"
          nzType="default"
          [nzSize]="'small'"
          nzShape="round"
          routerLink="/auth"
        >
          <nz-icon nzType="login" nzTheme="outline" />
        </button>
      }
    </nav>
  </div>
</header>

<section class="container">
  <router-outlet></router-outlet>
</section>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  [nzPlacement]="placement"
  nzTitle="سبد خرید شما :)"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <div class="drawerContainer">
      <div class="cart-items">
        @for (item of cartStore.items(); track $index) {
          <div class="cart-item">
            <img
              class="cart-item__image"
              [src]="item.images[0]"
              [alt]="item.name"
            />

            <div class="cart-item__content">
              <div class="cart-item__header">
                <h4>{{ item.name }}</h4>

                <button
                  nz-button
                  nzType="text"
                  nzSize="small"
                  nzDanger
                  (click)="removeFromCart(item.id)"
                >
                  <nz-icon nzType="delete" />
                </button>
              </div>

              <div class="cart-item__info">
                <span
                  >{{ item.finalPrice | persianDigit }}
                  <span class="toman">توما</span></span
                >
                <span>× {{ item.quantity }}</span>
              </div>

              <div class="cart-item__footer">
                <div class="quantity-control">
                  @if (item.quantity === 1) {
                    <button
                      nz-button
                      nzType="text"
                      nzSize="small"
                      nzDanger
                      (click)="removeFromCart(item.id)"
                    >
                      <nz-icon nzType="delete" />
                    </button>
                  } @else {
                    <button
                      nz-button
                      nzType="default"
                      nzSize="small"
                      (click)="decreaseQuantity(item.id)"
                    >
                      <nz-icon nzType="minus" />
                    </button>
                  }

                  <span>{{ item.quantity }}</span>

                  <button
                    nz-button
                    nzType="default"
                    nzSize="small"
                    (click)="increaseQuantity(item.id)"
                  >
                    <nz-icon nzType="plus" />
                  </button>
                </div>

                <strong>
                  {{ item.finalPrice * item.quantity | persianDigit }}
                  <span class="toman">توما</span>
                </strong>
              </div>
            </div>
          </div>
        }
      </div>
      @if (cartStore.items().length) {
        <nz-card class="cart-summary">
          <div class="cart-summary__row">
            <span>جمع کل:</span>
            <strong
              >{{ cartStore.subtotal() | number }}
              <span class="toman">توما</span></strong
            >
          </div>

          <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzBlock
            (click)="checkout()"
          >
            پرداخت
          </button>
        </nz-card>
      } @else {
        <nz-empty nzNotFoundContent="سبد خرید خالی است" />
      }
    </div>
  </ng-container>
</nz-drawer>
